# it simplifies things to symlink utilities into every lesson directory, but I
#   don't want to commit every copy of it
l*/utilities.py

# ignore python interpreter's stuff
*/__pycache__/*
__pycache__/*

# I like to diff optimized programs against unoptimized ones, but don't need to
#   commit those files
*/optimized
*/unoptimized
